html{
    height:100%;
    width:100%;
}

body{
    margin: 0px;
    padding: 0;
    width: 100%;
    height:100%;
}
.container1{
    width: 100%;
  
}

#top1{
    color: white; 
    text-align: center;
    line-height: 2;
    padding: 220px 50px;
    font-size: 18px;
}
#btn{
    background-color: rgb(39, 96, 202);
    color: white;
    padding: 1px 20px;
    
    border: none;
    border-radius: 20px;
    float: right;
}
.card0{
    background-color: white;
    padding: 20px 20px;
    margin: 100px;
    border-radius: 4px;
}
input[type=button]{
    background-color:rgb(240, 76, 76);
    outline: none;
    border-radius: 6px;
    border-style: none;
    width:100px;
    height: 30px;
    color: white;
}
.row{
    background-color: rgb(250, 245, 245);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding:30px;
}
.col-lg-3{
    
    display: flex;
    flex-direction: column;
    padding-left:20px;
    height:auto;
      
}

.menu0{
    background-color: rgb(230, 228, 228);
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 1.0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 90px;
    padding: 30px 6px;


}
.menu0 a{
    text-decoration: none;
    color: black;
    
}
.menu0:hover{
    text-decoration: none;
    background-color: white;
    border-left:3px solid darkblue; 
    box-shadow:1px 3px 2px 1px rgb(209, 209, 209);
    z-index: 8;
}
.menu0 a:hover{
    text-decoration: none;
    color: black;
}
.details{
    font-size: 18px;
    line-height: 2.0;
    list-style: disc;
}
.details h3{
    
    font-weight: bold;
}
.details p{
    padding:15px;
}
table{
    width: 100%;
}
table,th,td{
    text-align: left;
    padding-left: 22px;
    border: 1px solid black;
}

.fa-upload{
    font-size: 12px;
    cursor: pointer;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 25px;
  }
  .btn{
      cursor: pointer;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 0;
    opacity:0;
    height: 30px;
  }

  @media(max-width:360px){
      html{
          width:100%;
          height:100%;
      }
      body{
          width:100%;
          height:100%;
          opacity: 0.9;
      }
      main{
          width:100%;
      }
      
   
    #top1{

        color: white; 
        text-align: center;
        line-height: 2;
        padding:20px 0px 20px 0px;
        font-size: 18px;
       
    }
    #top1 h1{
        font-size: 2em;
    }
    .card0{
        background-color: white;
        padding: 10px 10px;
        margin: 0px;
        border-radius: 4px;
    }
    .col-lg-3{
    
        display: none;
    }
    .row{
        padding: 10px;
    }
    #top2{
        padding: 30px 30px 30px 30px;
    }
    .menu0{
      
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 00px 0px;
    
    }    
    .menu0:hover{
        text-decoration: none;
        background-color: white;
        border-left:3px solid darkblue; 
        box-shadow:1px 3px 2px 1px rgb(209, 209, 209);
        z-index: 8;
    }
    .col-lg-8{
        padding:0px;
    }
    .details{
        line-height: 1.8;
        margin-left: 5px;
    }
    .details p {
        padding-left:18px;
        list-style: disc;
    }
    .details h3{
        padding-left: 0;
    }
    .details ul li{
        margin-bottom:5px;
        padding-left: 5px;
    }
    .details h4{
        margin-left:20px;
    }
    .details .extra{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
        line-height: 1.3;
    }
    table{
        width:60%;
    }
    table,th,td{
        text-align: left;
        padding-left: 22px;
        border: 1px solid black;
    }
    .Not{
        list-style:none;
    }
    }
@media(max-width:470px){
    #top1{

        color: white; 
        text-align: center;
        line-height: 2;
        padding:60px 0px 50px 0px;
        font-size: 18px;
       
    }
    .card0{
        background-color: white;
        padding: 10px 10px;
        margin: 0px;
        border-radius: 4px;
    }
    .col-lg-3{
    
        display: none;
    }
    .row{
        padding: 18px;
    }
    #top2{
        padding: 30px 30px 30px 30px;
    }
   
    .col-lg-8{
        padding:0px;
    }
}

@media(max-width:800px){
    #top1{

        color: white; 
        text-align: center;
        line-height: 2;
        padding:50px 0px 30px 0px;
        font-size: 18px;
       
    }
    .card0{
        background-color: white;
        padding: 10px 10px;
        margin: 0px;
        border-radius: 4px;
    }
    .col-lg-3{
    
        display: none;
    }
    .row{
        padding: 24px;
    }
    #top2{
        padding: 30px 30px 30px 30px;
    }
   
    .col-lg-8{
        padding:0px;
    }
}

@media(max-width:1200px){
    .col-lg-3{
    
        display: none;
    }
}